openapi: 3.0.3
info:
  title: FitQuest API
  version: 1.0.0
  description: |
    FitQuest 게이미피케이션 피트니스 플랫폼 API

    ## 인증
    모든 보호된 API 요청에는 Bearer 토큰이 필요합니다.
    ```
    Authorization: Bearer <access_token>
    ```

    ## Rate Limiting
    - 일반 엔드포인트: 100 요청/분
    - 인증 엔드포인트: 5 요청/5분
    - AI Coach: 20 요청/분

    ## 에러 응답
    모든 에러는 다음 형식으로 반환됩니다:
    ```json
    {
      "statusCode": 400,
      "message": "에러 메시지",
      "error": "Bad Request",
      "timestamp": "2024-01-15T10:30:00Z",
      "path": "/api/workouts"
    }
    ```

  contact:
    name: FitQuest Team
    email: api@fitquest.com
  license:
    name: MIT

servers:
  - url: https://api.fitquest.com
    description: Production
  - url: https://staging-api.fitquest.com
    description: Staging
  - url: http://localhost:3001
    description: Development

tags:
  - name: Auth
    description: 인증 및 사용자 등록
  - name: Users
    description: 사용자 프로필 관리
  - name: Workouts
    description: 운동 프로그램 조회 및 관리
  - name: Sessions
    description: 운동 세션 관리
  - name: Achievements
    description: 업적 및 배지
  - name: Gamification
    description: XP, 레벨, 스트릭
  - name: Social
    description: 친구, 챌린지, 리더보드
  - name: Subscription
    description: 구독 및 결제

paths:
  # Auth
  /api/auth/register:
    post:
      tags: [Auth]
      summary: 회원가입
      description: 새 사용자를 등록합니다
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 등록 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 이미 존재하는 이메일

  /api/auth/login:
    post:
      tags: [Auth]
      summary: 로그인
      description: 이메일과 비밀번호로 로그인합니다
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: 토큰 갱신
      description: 리프레시 토큰으로 새 액세스 토큰을 발급합니다
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: 갱신 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 로그아웃 성공

  # Users
  /api/users/me:
    get:
      tags: [Users]
      summary: 내 프로필 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    patch:
      tags: [Users]
      summary: 프로필 수정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/users/me/stats:
    get:
      tags: [Users]
      summary: 내 통계 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'

  # Workouts
  /api/workouts:
    get:
      tags: [Workouts]
      summary: 운동 목록 조회
      description: |
        운동 프로그램 목록을 조회합니다.
        결과는 커서 기반 페이지네이션됩니다.
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [strength, cardio, yoga, hiit, stretching]
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
        - name: duration
          in: query
          description: 최대 소요 시간 (분)
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutListResponse'

  /api/workouts/{workoutId}:
    get:
      tags: [Workouts]
      summary: 운동 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - name: workoutId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  # Sessions
  /api/sessions:
    post:
      tags: [Sessions]
      summary: 운동 세션 시작
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSessionRequest'
      responses:
        '201':
          description: 세션 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /api/sessions/{sessionId}:
    get:
      tags: [Sessions]
      summary: 세션 조회
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    patch:
      tags: [Sessions]
      summary: 세션 진행 상황 업데이트
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
      responses:
        '200':
          description: 업데이트 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /api/sessions/{sessionId}/complete:
    post:
      tags: [Sessions]
      summary: 운동 세션 완료
      description: |
        세션을 완료하고 XP, 업적 등을 계산합니다.
        응답에는 획득한 XP, 해금된 업적, 스트릭 정보가 포함됩니다.
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteSessionRequest'
      responses:
        '200':
          description: 완료 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCompleteResponse'

  # Achievements
  /api/achievements:
    get:
      tags: [Achievements]
      summary: 업적 목록 조회
      description: 모든 업적과 사용자의 해금 상태를 조회합니다
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [workout, streak, social, milestone]
        - name: unlocked
          in: query
          description: true면 해금된 업적만, false면 미해금만
          schema:
            type: boolean
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'

  # Gamification
  /api/gamification/xp-history:
    get:
      tags: [Gamification]
      summary: XP 획득 내역 조회
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XPHistoryItem'

  /api/gamification/streak:
    get:
      tags: [Gamification]
      summary: 현재 스트릭 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreakInfo'

  # Social
  /api/leaderboard:
    get:
      tags: [Social]
      summary: 리더보드 조회
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [xp, workouts, streak]
            default: xp
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly, alltime]
            default: weekly
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  # Subscription
  /api/subscription:
    get:
      tags: [Subscription]
      summary: 현재 구독 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          description: 구독 없음

  /api/subscription/plans:
    get:
      tags: [Subscription]
      summary: 구독 플랜 목록
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionPlan'

  # Health
  /api/health:
    get:
      summary: 헬스 체크
      responses:
        '200':
          description: 서비스 정상
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Auth
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          minLength: 8
          example: SecurePass123!
        name:
          type: string
          example: 홍길동

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    # User
    User:
      type: object
      properties:
        id:
          type: string
          example: usr_abc123
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
          nullable: true
        level:
          type: integer
          example: 15
        totalXp:
          type: integer
          example: 12500
        currentStreak:
          type: integer
          example: 7
        createdAt:
          type: string
          format: date-time

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        avatar:
          type: string
        fitnessGoal:
          type: string
          enum: [lose_weight, build_muscle, stay_fit, increase_endurance]
        weeklyGoal:
          type: integer
          minimum: 1
          maximum: 7

    UserStats:
      type: object
      properties:
        totalWorkouts:
          type: integer
        totalMinutes:
          type: integer
        totalCalories:
          type: integer
        longestStreak:
          type: integer
        achievementsUnlocked:
          type: integer
        workoutsByCategory:
          type: object
          additionalProperties:
            type: integer

    # Workout
    Workout:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          example: 전신 파워 트레이닝
        description:
          type: string
        category:
          type: string
          enum: [strength, cardio, yoga, hiit, stretching]
        difficulty:
          type: string
          enum: [beginner, intermediate, advanced]
        duration:
          type: integer
          description: 소요 시간 (분)
          example: 30
        calories:
          type: integer
          description: 예상 소모 칼로리
          example: 250
        xpReward:
          type: integer
          example: 150
        thumbnailUrl:
          type: string
        isPremium:
          type: boolean

    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/Workout'
        - type: object
          properties:
            exercises:
              type: array
              items:
                $ref: '#/components/schemas/Exercise'
            equipment:
              type: array
              items:
                type: string
            tags:
              type: array
              items:
                type: string

    Exercise:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        duration:
          type: integer
          description: 초 단위
        reps:
          type: integer
          nullable: true
        sets:
          type: integer
          nullable: true
        videoUrl:
          type: string
          nullable: true
        thumbnailUrl:
          type: string

    WorkoutListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Workout'
        meta:
          type: object
          properties:
            total:
              type: integer
            hasMore:
              type: boolean
            nextCursor:
              type: string
              nullable: true

    # Session
    StartSessionRequest:
      type: object
      required: [workoutId]
      properties:
        workoutId:
          type: string

    UpdateSessionRequest:
      type: object
      properties:
        exerciseIndex:
          type: integer
        progress:
          type: integer
          minimum: 0
          maximum: 100
        caloriesBurned:
          type: integer

    CompleteSessionRequest:
      type: object
      properties:
        actualDuration:
          type: integer
          description: 실제 소요 시간 (초)
        caloriesBurned:
          type: integer
        rating:
          type: integer
          minimum: 1
          maximum: 5
        feedback:
          type: string

    Session:
      type: object
      properties:
        id:
          type: string
        workoutId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [in_progress, completed, abandoned]
        progress:
          type: integer
        currentExerciseIndex:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    SessionCompleteResponse:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/Session'
        xpEarned:
          type: integer
          example: 150
        xpBreakdown:
          type: object
          properties:
            base:
              type: integer
            streakBonus:
              type: integer
            difficultyBonus:
              type: integer
            completionBonus:
              type: integer
        levelUp:
          type: boolean
        newLevel:
          type: integer
          nullable: true
        achievementsUnlocked:
          type: array
          items:
            $ref: '#/components/schemas/Achievement'
        streakInfo:
          $ref: '#/components/schemas/StreakInfo'

    # Achievement
    Achievement:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: 첫 운동 완료
        description:
          type: string
        category:
          type: string
          enum: [workout, streak, social, milestone]
        tier:
          type: string
          enum: [bronze, silver, gold, platinum]
        iconUrl:
          type: string
        xpReward:
          type: integer
        unlockedAt:
          type: string
          format: date-time
          nullable: true
        progress:
          type: number
          minimum: 0
          maximum: 100

    # Gamification
    XPHistoryItem:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        source:
          type: string
          enum: [workout, achievement, streak, challenge, daily_bonus]
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    StreakInfo:
      type: object
      properties:
        currentStreak:
          type: integer
        longestStreak:
          type: integer
        lastWorkoutDate:
          type: string
          format: date
        streakMultiplier:
          type: number
          example: 1.5
        nextMilestone:
          type: integer
          example: 14

    # Social
    LeaderboardResponse:
      type: object
      properties:
        type:
          type: string
        period:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardEntry'
        userRank:
          type: integer
          nullable: true

    LeaderboardEntry:
      type: object
      properties:
        rank:
          type: integer
        userId:
          type: string
        name:
          type: string
        avatar:
          type: string
          nullable: true
        score:
          type: integer
        level:
          type: integer

    # Subscription
    Subscription:
      type: object
      properties:
        id:
          type: string
        plan:
          type: string
          enum: [monthly, yearly]
        status:
          type: string
          enum: [active, canceled, past_due]
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean

    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Premium Monthly
        price:
          type: number
          example: 9.99
        currency:
          type: string
          example: USD
        interval:
          type: string
          enum: [month, year]
        features:
          type: array
          items:
            type: string

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 400
              message:
                type: string
              error:
                type: string
                example: Bad Request

    Unauthorized:
      description: 인증 필요
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 401
              message:
                type: string
                example: Unauthorized

    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 404
              message:
                type: string
              error:
                type: string
                example: Not Found

    TooManyRequests:
      description: 요청 한도 초과
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 429
              message:
                type: string
                example: Too many requests
